:root{
   --primary-bg: black;
   --container-bg: #2E236C;
   --big-box-bg: #1e1d1d;
   --big-box-bg-hover: #272727 ;
   --button-bg: #535C91;
   --font-color: white;
   --code-bg: #2d333f;
}

*{
   /* margin: 0;
   padding: 0; */
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body{
   margin: 0;
   padding: 10px;
   background-color: var(--primary-bg);
   color: var(--font-color);
}

#main-heading{
   text-align: center;
   margin: 10px 0;
   padding: 0;
}
.container{
   margin-bottom:10px ;
   border-radius: 10px;
   padding: 10px;
   padding-bottom: 0;
   
   height: 90vh;
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
}

.big-box{
   padding: 15px;
   padding-bottom: 0;
   border-radius: 5px;
   background-color: var(--big-box-bg);
   box-shadow: 2px 2px 4px rgb(41, 39, 39);
   
   
   overflow-y: scroll;
   width: 100%;
   min-height: 45%;
   margin: 10px 0;
}

.big-box:hover{
   transform: scale(1.01);
   background-color: var(--big-box-bg-hover);
}

.big-box, .big-box * {
   transition: all ease-in-out 200ms;
}

#md-input{
   resize: vertical;
   border:  none;
   color: inherit;
   outline: none;
   font-size: 1.2rem;

}
#md-input:focus{
   border: 2px solid gray;
   transform: scale(1.02);
}



pre code {
   background-color: var(--code-bg) !important;
   /* Change to your desired color */
   color: #ffffff !important;
   /* Change text color if needed */
   padding: 15px;
   border-radius: 5px;
   display: block;
}

#reset-button{
   margin: 0 50%;
   transform: translateX(-50%);
}

/* From Uiverse.io by cssbuttons-io */
button {
   position: relative;
   border: none;
   background: transparent;
   padding: 0;
   cursor: pointer;
   outline-offset: 4px;
   transition: filter 250ms;
   user-select: none;
   touch-action: manipulation;
}

.shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background: hsl(0deg 0% 0% / 0.25);
   will-change: transform;
   transform: translateY(2px);
   transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 12px;
   background: linear-gradient(to left,
         hsl(263deg 100% 16%) 0%,
         hsl(263deg 100% 32%) 8%,
         hsl(263deg 100% 32%) 92%,
         hsl(263deg 100% 16%) 100%);
}

.front {
   display: block;
   position: relative;
   padding: 12px 27px;
   border-radius: 12px;
   font-size: 1.1rem;
   color: white;
   background: hsl(263deg 100% 47%);
   will-change: transform;
   transform: translateY(-4px);
   transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
a{
   color: hsl(263, 100%, 26%);;
}
button:hover {
   filter: brightness(110%);
}

button:hover .front {
   transform: translateY(-6px);
   transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
   transform: translateY(-2px);
   transition: transform 34ms;
}

button:hover .shadow {
   transform: translateY(4px);
   transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
   transform: translateY(1px);
   transition: transform 34ms;
}

button:focus:not(:focus-visible) {
   outline: none;
}

::-webkit-scrollbar {
   display: none;
}
 
* {
   scrollbar-width: none;
   scrollbar-color: transparent transparent;
}

/* For screens 640px and up */
@media (min-width: 640px) {
   /* Styles for small screens */
   .container{
      height: 90vh;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
   }

   .big-box {
      overflow-y: scroll;
      width: 100%;
      min-height: 45%;
      margin: 10px 0;
   }


}


/* For screens 1024px and up */
@media (min-width: 1024px) {
   /* Styles for large screens */
   .container {
      flex-direction: row;
      gap: 20px;
   }

   .big-box{
      width: 49%;
   }
}



@media (prefers-color-scheme: light) {
   :root {
      --primary-bg: white;
      --container-bg: #bcb6e0;
      --big-box-bg: #d4d4d4;
      --big-box-bg-hover: #c1bfbf;
      --button-bg: #535C91;
      --font-color: #000000;
      --code-bg: #141717;
      }
}
